<header class="headerTop">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>
     
        <div>
          <li class="nav-item dropdown ml-auto">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
              >Admin</a
            >
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">Reports</a>
              <a href="#" class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" >Logout</a>
            </div>
          </li>
        </div>
       
      </div>
    </nav> -->
    <div id="vut-navbar"><nav class="navbar fixed-top navbar-expand-lg bg-default"><a href="https://vivasales.pihr.xyz/dashboard" class="navbar-brand"><img src="" alt="logo" class="img-fluid"></a> <button type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon fa fa-bars"></span></button> <div id="mainNav" class="collapse navbar-collapse"><ul class="navbar-nav mr-auto"><li class="nav-item active"><a href="https://vivasales.pihr.xyz/dashboard" class="nav-link"><span class="icon icon-dashboard"></span>Dashboard
    </a></li> 
    <li class="nav-item dropdown menu-large"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="dropdown-toggle nav-link"><span class="icon fa fa-hand-stop-o"></span>
        Attendance
    </a> <ul class="dropdown-menu megamenu"><li class="nav-item"><a href="https://vivasales.pihr.xyz/attendance/attendancedashboard" data-toggle="" class="nav-link">
                Dashboard
            </a> <!----></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Operation
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Attendance/dailyattendance/Index" class="dropdown-item">
                    Daily Attendance
                </a><a href="https://vivasales.pihr.xyz/Attendance/dailyattendance/UploadAttendanceSheet" class="dropdown-item">
                    Upload Attendance Data
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendanceapproval/Index" class="dropdown-item">
                    Attendance Approval
                </a><a href="https://vivasales.pihr.xyz/Attendance/otoperation/Index" class="dropdown-item">
                    OT Calculation
                </a><a href="https://vivasales.pihr.xyz/Attendance/breaktimereconciliation/Index" class="dropdown-item">
                    Break Time Reconciliation
                </a><a href="https://vivasales.pihr.xyz/Attendance/multiplecheckinout/Index" class="dropdown-item">
                    Multiple Check In/Out
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Rostering
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Attendance/shiftsetup/Index" class="dropdown-item">
                    Shift Setup
                </a><a href="https://vivasales.pihr.xyz/Attendance/rostereligibleemployee/Index" class="dropdown-item">
                    Roster Eligible Employee
                </a><a href="https://vivasales.pihr.xyz/Attendance/rostersetup/Index" class="dropdown-item">
                    Roster Setup
                </a><a href="https://vivasales.pihr.xyz/Attendance/rosterattendancereconcillation/Index" class="dropdown-item">
                    Roster Attendance Reconciliation
                </a><a href="https://vivasales.pihr.xyz/Attendance/rosterplanmodify/Index" class="dropdown-item">
                    Roster Plan Modification
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Reports
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/Attendance" class="dropdown-item">
                    Attendance
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/MonthlyAttendance" class="dropdown-item">
                    Month Wise Attendance
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/EmployeeJobCard" class="dropdown-item">
                    Employee Job Card
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/EmpAttendanceAnalysis" class="dropdown-item">
                    Employee Attendance Analysis
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/AttendanceHistoryRpt" class="dropdown-item">
                    Daily Attendance History
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/MonthlyAttendanceSummary" class="dropdown-item">
                    Monthly Attendance Summary
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/ExtraTimeRpt" class="dropdown-item">
                    Extra Time Report
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/AttendanceReconciliationRpt" class="dropdown-item">
                    Attendance Reconciliation
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/OvertimeRpt" class="dropdown-item">
                    Overtime Report
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/AttendancePolicyReport" class="dropdown-item">
                    Policy Wise Employee Report
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/BreakTime" class="dropdown-item">
                    Employee Break Times
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancereport/MultipleCheckInCheckOut" class="dropdown-item">
                    Multiple Check In/Out Report
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Settings
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Attendance/attendancepolicy/Index" class="dropdown-item">
                    Attendance Policy
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancepolicymapping/Index" class="dropdown-item">
                    Policy Mapping
                </a><a href="https://vivasales.pihr.xyz/Attendance/annualholiday/Index" class="dropdown-item">
                    Holiday Setup
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendanceflag/Index" class="dropdown-item">
                    Flag Setup
                </a><a href="https://vivasales.pihr.xyz/Attendance/employeeproximitycard/Index" class="dropdown-item">
                    RF ID Setup
                </a><a href="https://vivasales.pihr.xyz/Attendance/leaveorsalarydeductionpolicy/Index" class="dropdown-item">
                    Deduction Policy
                </a><a href="https://vivasales.pihr.xyz/Attendance/overtimepolicy/Index" class="dropdown-item">
                    Over Time Policy
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendanceeligibleemployee/Index" class="dropdown-item">
                    Eligible Employee
                </a><a href="https://vivasales.pihr.xyz/Attendance/otpolicymapping/Index" class="dropdown-item">
                    OT Policy Mapping
                </a><a href="https://vivasales.pihr.xyz/Attendance/hotspot/Index" class="dropdown-item">
                    Hotspot
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendancebonus/Index" class="dropdown-item">
                    Attendance Bonus Policy
                </a><a href="https://vivasales.pihr.xyz/Attendance/attendanceconfiguration/Index" class="dropdown-item">
                    Attendance Configuration
                </a></div></li></ul></li><li class="nav-item dropdown menu-large"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="dropdown-toggle nav-link"><span class="icon fa fa fa-leaf"></span>
        Leave
    </a> <ul class="dropdown-menu megamenu"><li class="nav-item"><a href="https://vivasales.pihr.xyz/leave/leavedashboard" data-toggle="" class="nav-link">
                Dashboard
            </a> <!----></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Operation
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Leave/leaveapplication/Index" class="dropdown-item">
                    Leave Application
                </a><a href="https://vivasales.pihr.xyz/Leave/visitapplication/Index" class="dropdown-item">
                    Visit Application
                </a><a href="https://vivasales.pihr.xyz/Leave/leaveadjustment/Index" class="dropdown-item">
                    Leave Adjustment
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Report
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Leave/leavereport/EmployeeLeaveBalance" class="dropdown-item">
                    Employee Leave Balance
                </a><a href="https://vivasales.pihr.xyz/Leave/leavereport/LeaveSummary" class="dropdown-item">
                    Leave Summary
                </a><a href="https://vivasales.pihr.xyz/Leave/leavereport/LeaveReport" class="dropdown-item">
                    Leave Analysis Report
                </a><a href="https://vivasales.pihr.xyz/Leave/leavereport/VisitReport" class="dropdown-item">
                    Visit Report
                </a><a href="https://vivasales.pihr.xyz/Leave/leavereport/LeaveAdjustment" class="dropdown-item">
                    Leave Adjustment Report
                </a><a href="https://vivasales.pihr.xyz/Leave/leavereport/ApproverHistoryRpt" class="dropdown-item">
                    Leave Approver History Report
                </a><a href="https://vivasales.pihr.xyz/Leave/leavereport/EmployeeEarnLeaveRpt" class="dropdown-item">
                    Employee Earn Leave
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Settings
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Leave/leavetype/Index" class="dropdown-item">
                    Leave Type
                </a><a href="https://vivasales.pihr.xyz/Leave/leavegroup/Index" class="dropdown-item">
                    Leave Group
                </a><a href="https://vivasales.pihr.xyz/Leave/currentleavestatus/Index" class="dropdown-item">
                    Current Leave Status
                </a><a href="https://vivasales.pihr.xyz/Leave/leaveyear/Index" class="dropdown-item">
                    Leave Year
                </a><a href="https://vivasales.pihr.xyz/Leave/leaveprocesspolicy/Index" class="dropdown-item">
                    Leave Process Policy
                </a><a href="https://vivasales.pihr.xyz/Leave/approversetup/Index" class="dropdown-item">
                    Approver Setup
                </a><a href="https://vivasales.pihr.xyz/Leave/leaveeligibleemployee/Index" class="dropdown-item">
                    Eligible Employee
                </a></div></li></ul></li><li class="nav-item dropdown menu-large"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="dropdown-toggle nav-link"><span class="icon fa fa-usd"></span>
        Salary
    </a> <ul class="dropdown-menu megamenu"><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Salary Operation
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Salary/employeesalarystructure/Index" class="dropdown-item">
                    Salary Structure
                </a><a href="https://vivasales.pihr.xyz/Salary/finalsettlement/Index" class="dropdown-item">
                    Final Settlement
                </a><a href="https://vivasales.pihr.xyz/Salary/heldupemployee/Index" class="dropdown-item">
                    Heldup Employee
                </a><a href="https://vivasales.pihr.xyz/Salary/salarygeneration/Index" class="dropdown-item">
                    Salary Generation
                </a><a href="https://vivasales.pihr.xyz/Salary/employeesalaryadjustment/Index" class="dropdown-item">
                    Salary Adjustment
                </a><a href="https://vivasales.pihr.xyz/Salary/salarymodification/Index" class="dropdown-item">
                    Salary Modification
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryverification/Index" class="dropdown-item">
                    Salary Verification
                </a><a href="https://vivasales.pihr.xyz/Salary/salarytransfer/Index" class="dropdown-item">
                    Salary Payment
                </a><a href="https://vivasales.pihr.xyz/Salary/payslipemail/Index" class="dropdown-item">
                    Email Payslip
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Bonus Operation
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Salary/bonuspolicy/Index" class="dropdown-item">
                    Bonus Policy
                </a><a href="https://vivasales.pihr.xyz/Salary/bonustype/Index" class="dropdown-item">
                    Bonus Type
                </a><a href="https://vivasales.pihr.xyz/Salary/bonussetup/Index" class="dropdown-item">
                    Yearly Bonus Setup
                </a><a href="https://vivasales.pihr.xyz/Salary/bonusgeneration/Index" class="dropdown-item">
                    Bonus Generation
                </a><a href="https://vivasales.pihr.xyz/Salary/bonusmodification/Index" class="dropdown-item">
                    Bonus Modification
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Reports
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Salary/salaryreport/PaySlip" class="dropdown-item">
                    Payslip
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/SalaryCertificate" class="dropdown-item">
                    Salary Certificate
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/SalaryAnalysis" class="dropdown-item">
                    Salary Analysis
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/SalaryTransfer" class="dropdown-item">
                    Salary Payment
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/CurrentSalaryStructure" class="dropdown-item">
                    Current Salary Structure
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/SalaryStructureHistory" class="dropdown-item">
                    Salary Structure History
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/BonusStatement" class="dropdown-item">
                    Bonus Statement
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/BonusAnalysis" class="dropdown-item">
                    Bonus Analysis
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/ClaimReport" class="dropdown-item">
                    Claim Report
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/MonthAdvanceSalaryCollection" class="dropdown-item">
                    Monthly Advance Salary Collection
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/SalaryIncrement" class="dropdown-item">
                    Salary Increment Report
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/SalaryConsolidate" class="dropdown-item">
                    Salary Consolidate Report
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryreport/SalaryCompare" class="dropdown-item">
                    Salary Comparison Report
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Settings
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Salary/salarygenerationpolicy/Index" class="dropdown-item">
                    Salary Gen. Policy
                </a><a href="https://vivasales.pihr.xyz/Salary/consolidatesalaryconfig/Index" class="dropdown-item">
                    Consolidate Salary Breakdowns
                </a><a href="https://vivasales.pihr.xyz/Salary/salarybasebreakup/Index" class="dropdown-item">
                    Base Breakup
                </a><a href="https://vivasales.pihr.xyz/Salary/finalsettlementcomponent/Index" class="dropdown-item">
                    Final Settlement Components
                </a><a href="https://vivasales.pihr.xyz/Salary/salarybreakup/Index" class="dropdown-item">
                    Breakup
                </a><a href="https://vivasales.pihr.xyz/Salary/salarygroup/Index" class="dropdown-item">
                    Salary Group
                </a><a href="https://vivasales.pihr.xyz/Salary/salarybreakupgroup/Index" class="dropdown-item">
                    Breakup Amount
                </a><a href="https://vivasales.pihr.xyz/Salary/bank/Index" class="dropdown-item">
                    Bank
                </a><a href="https://vivasales.pihr.xyz/Salary/incrementbreakup/Index" class="dropdown-item">
                    Increment Breakup
                </a><a href="https://vivasales.pihr.xyz/Salary/adjustmentpurpose/Index" class="dropdown-item">
                    Adjustment Purpose
                </a><a href="https://vivasales.pihr.xyz/Salary/employeebankaccount/Index" class="dropdown-item">
                    Employee Bank Account
                </a><a href="https://vivasales.pihr.xyz/Salary/salaryeligibleemployee/Index" class="dropdown-item">
                    Eligible Employee
                </a><a href="https://vivasales.pihr.xyz/Salary/salarysignatory/Index" class="dropdown-item">
                    Report Signatory
                </a><a href="https://vivasales.pihr.xyz/Salary/advancesalarypolicy/Index" class="dropdown-item">
                    Advance Salary Policy
                </a><a href="https://vivasales.pihr.xyz/Salary/dynamicsalaryadjustmentpolicy/Index" class="dropdown-item">
                    Dynamic Salary Adjustment Policy
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Claim
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Salary/employeeclaim/Index" class="dropdown-item">
                    Claim
                </a><a href="https://vivasales.pihr.xyz/Salary/claimcategory/Index" class="dropdown-item">
                    Claim Category
                </a><a href="https://vivasales.pihr.xyz/Salary/claimsetting/Index" class="dropdown-item">
                    Claim Setting
                </a><a href="https://vivasales.pihr.xyz/Salary/employeeclaim/ClaimRequests" class="dropdown-item">
                    Claim Requests
                </a></div></li><li class="nav-item"><a href="https://vivasales.pihr.xyz/salary/advancesalary" data-toggle="" class="nav-link">
                Advance Salary
            </a> <!----></li><li class="nav-item"><a href="https://vivasales.pihr.xyz/salary/mypayslip" data-toggle="" class="nav-link">
                My Payslip
            </a> <!----></li></ul></li><li class="nav-item dropdown menu-large"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="dropdown-toggle nav-link"><span class="icon fa fa-users"></span>
        Employee
    </a> <ul class="dropdown-menu megamenu"><li class="nav-item"><a href="https://vivasales.pihr.xyz/employee/employeedashboard" data-toggle="" class="nav-link">
                Dashboard
            </a> <!----></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Operation
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Employee/employee/Index" class="dropdown-item">
                    Employee List
                </a><a href="https://vivasales.pihr.xyz/Employee/employeeaward/Index" class="dropdown-item">
                    Award
                </a><a href="https://vivasales.pihr.xyz/Employee/employeewarning/Index" class="dropdown-item">
                    Disciplinary Record
                </a><a href="https://vivasales.pihr.xyz/Employee/organogram/Index" class="dropdown-item">
                    Organogram
                </a><!----><!----></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Report
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Employee/employeereport/EmployeePosition" class="dropdown-item">
                    Employee Position
                </a><a href="https://vivasales.pihr.xyz/Employee/employeereport/EmployeeStatusHistory" class="dropdown-item">
                    Employee Status
                </a><a href="https://vivasales.pihr.xyz/Employee/employeereport/EmployeeReligionBloodGroup" class="dropdown-item">
                    Religion &amp; Blood Group
                </a><a href="https://vivasales.pihr.xyz/Employee/employeereport/EmployeeContact" class="dropdown-item">
                    Contact Report
                </a><a href="https://vivasales.pihr.xyz/Employee/reportfromtemplate/Index" class="dropdown-item">
                    View Template Report
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Settings
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Employee/companydivision/Index" class="dropdown-item">
                    Company Division
                </a><a href="https://vivasales.pihr.xyz/Employee/birthdaynotification/Index" class="dropdown-item">
                    Birthday Notification
                </a><a href="https://vivasales.pihr.xyz/Employee/department/Index" class="dropdown-item">
                    Department
                </a><a href="https://vivasales.pihr.xyz/Employee/departmentunit/Index" class="dropdown-item">
                    Unit
                </a><a href="https://vivasales.pihr.xyz/Employee/jobstatus/Index" class="dropdown-item">
                    Job Status
                </a><a href="https://vivasales.pihr.xyz/Employee/jobbase/index" class="dropdown-item">
                    Job Base
                </a><a href="https://vivasales.pihr.xyz/Employee/joblevel/Index" class="dropdown-item">
                    Job Level
                </a><a href="https://vivasales.pihr.xyz/Employee/designation/Index" class="dropdown-item">
                    Designation
                </a><a href="https://vivasales.pihr.xyz/Employee/functionaldesignation/Index" class="dropdown-item">
                    Functional Designation
                </a><a href="https://vivasales.pihr.xyz/Employee/educationgroup/Index" class="dropdown-item">
                    Education Group
                </a><a href="https://vivasales.pihr.xyz/Employee/education/Index" class="dropdown-item">
                    Education
                </a><a href="https://vivasales.pihr.xyz/Employee/educationgradedivision/Index" class="dropdown-item">
                    Grade Division
                </a><a href="https://vivasales.pihr.xyz/Employee/educationinstitute/Index" class="dropdown-item">
                    Education Institute
                </a><a href="https://vivasales.pihr.xyz/Employee/designationgroup/Index" class="dropdown-item">
                    Designation Group
                </a><a href="https://vivasales.pihr.xyz/Employee/jobgroup/Index" class="dropdown-item">
                    Job Group
                </a><a href="https://vivasales.pihr.xyz/Employee/talenttype/Index" class="dropdown-item">
                    Talent Type
                </a><a href="https://vivasales.pihr.xyz/Employee/employmentcategory/Index" class="dropdown-item">
                    Employment Category
                </a><a href="https://vivasales.pihr.xyz/Employee/documentcategory/Index" class="dropdown-item">
                    Document Category
                </a><a href="https://vivasales.pihr.xyz/Employee/awardtype/Index" class="dropdown-item">
                    Award Type
                </a><a href="https://vivasales.pihr.xyz/Employee/warningtype/Index" class="dropdown-item">
                    Warning Type
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Employee Tracking
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Employee/trackingemployeemonitoring/Index" class="dropdown-item">
                    Employee Monitoring
                </a><a href="https://vivasales.pihr.xyz/Employee/trackingenabledemployee/Index" class="dropdown-item">
                    Tracking Enabled Employee
                </a><a href="https://vivasales.pihr.xyz/Employee/trackingschedules/Index" class="dropdown-item">
                    Tracking Schedules
                </a><a href="https://vivasales.pihr.xyz/Employee/trackinghistoryreport/Index" class="dropdown-item">
                    Tracking History Report
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Task
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Employee/task/Index" class="dropdown-item">
                    Task
                </a><a href="https://vivasales.pihr.xyz/Employee/taskcategory/Index" class="dropdown-item">
                    Task Category
                </a><a href="https://vivasales.pihr.xyz/Employee/taskpriority/Index" class="dropdown-item">
                    Task Priority
                </a><a href="https://vivasales.pihr.xyz/Employee/taskstatus/Index" class="dropdown-item">
                    Task Status
                </a><a href="https://vivasales.pihr.xyz/Employee/taskreport/Index" class="dropdown-item">
                    Task Report
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Asset
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Employee/assetcategory/Index" class="dropdown-item">
                    Asset Category
                </a><a href="https://vivasales.pihr.xyz/Employee/asset/Index" class="dropdown-item">
                    Asset
                </a><a href="https://vivasales.pihr.xyz/Employee/assetdistribution/Index" class="dropdown-item">
                    Distribute Asset
                </a><a href="https://vivasales.pihr.xyz/Employee/assetreport/Index" class="dropdown-item">
                    Asset Report
                </a><a href="https://vivasales.pihr.xyz/Employee/assetrequisitionrequest/Index" class="dropdown-item">
                    Asset Requisition Request
                </a></div></li></ul></li><li class="nav-item dropdown menu-large"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="dropdown-toggle nav-link"><span class="icon fa fa-cog"></span>
        Tax
    </a> <ul class="dropdown-menu megamenu"><li class="nav-item"><a href="https://vivasales.pihr.xyz/tax/taxdashboard" data-toggle="" class="nav-link">
                Dashboard
            </a> <!----></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Operation
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Tax/employeetaxprovision/Index" class="dropdown-item">
                    Employee Tax Provision
                </a><a href="https://vivasales.pihr.xyz/Tax/monthlytaxcollection/Index" class="dropdown-item">
                    Monthly Tax Collection
                </a><a href="https://vivasales.pihr.xyz/Tax/monthlytaxcollection/Modify" class="dropdown-item">
                    Modify Monthly Tax Collection
                </a><a href="https://vivasales.pihr.xyz/Tax/employeeyearlyincometax/Index" class="dropdown-item">
                    Yearly Income Tax
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Report
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Tax/taxreport/MonthlyTaxProvision" class="dropdown-item">
                    Monthly Tax Provision
                </a><a href="https://vivasales.pihr.xyz/Tax/taxreport/MonthlyTaxCollection" class="dropdown-item">
                    Monthly Tax Collection
                </a><a href="https://vivasales.pihr.xyz/Tax/taxreport/TaxProvisionStatement" class="dropdown-item">
                    Tax Provision Statement
                </a><a href="https://vivasales.pihr.xyz/Tax/taxreport/TaxYearlyStatement" class="dropdown-item">
                    Yearly Tax Statement
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Setting
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Tax/taxpolicy/Index" class="dropdown-item">
                    Tax Policy
                </a><a href="https://vivasales.pihr.xyz/Tax/taxfactor/Index" class="dropdown-item">
                    Tax Factor
                </a><a href="https://vivasales.pihr.xyz/Tax/bonusyearmonth/Index" class="dropdown-item">
                    Bonus Year &amp; Months
                </a><a href="https://vivasales.pihr.xyz/Tax/taxyear/Index" class="dropdown-item">
                    Tax Year
                </a><a href="https://vivasales.pihr.xyz/Tax/medicalinformation/Index" class="dropdown-item">
                    Medical Information
                </a><a href="https://vivasales.pihr.xyz/Tax/investment/Index" class="dropdown-item">
                    Investment Information
                </a><a href="https://vivasales.pihr.xyz/Tax/investmenttype/Index" class="dropdown-item">
                    Investment Type
                </a></div></li><li class="nav-item"><a href="https://vivasales.pihr.xyz/tax/taxglobalconfiguration" data-toggle="" class="nav-link">
                Global Configuration
            </a> <!----></li></ul></li><li class="nav-item dropdown menu-large"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="dropdown-toggle nav-link"><span class="icon fa fa-cog"></span>
        Provident Fund
    </a> <ul class="dropdown-menu megamenu"><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Settings
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/PF/pfcalculationpolicy/Index" class="dropdown-item">
                    PF Calc. Policy
                </a><a href="https://vivasales.pihr.xyz/PF/pfmembersetup/Index" class="dropdown-item">
                    PF Member
                </a><a href="https://vivasales.pihr.xyz/PF/pfwithdrawalpolicy/Index" class="dropdown-item">
                    PF Withdrawal Policy
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Operation
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/PF/pfmonthlycollection/Index" class="dropdown-item">
                    PF Collection
                </a><a href="https://vivasales.pihr.xyz/PF/pfinterestdistribution/Index" class="dropdown-item">
                    PF Interest Distribution
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Reports
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/PF/pfreport/PFStatement" class="dropdown-item">
                    PF Statement
                </a><a href="https://vivasales.pihr.xyz/PF/pfreport/PFMonthlyCollection" class="dropdown-item">
                    PF Monthly Collection
                </a><a href="https://vivasales.pihr.xyz/PF/pfreport/PFAnnualBalance" class="dropdown-item">
                    PF Annual Balance
                </a></div></li></ul></li><li class="nav-item dropdown menu-large"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="dropdown-toggle nav-link"><span class="icon fa fa-hand-o-up"></span>
        Self Service
    </a> <ul class="dropdown-menu megamenu"><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                My Screens
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/SelfService/mydashboard/Index" class="dropdown-item">
                    Dashboard
                </a><a href="https://vivasales.pihr.xyz/SelfService/myattendance/InOutTime" class="dropdown-item">
                    Daily Attendance
                </a><a href="https://vivasales.pihr.xyz/SelfService/myvisitapplication/Index" class="dropdown-item">
                    Visit Application
                </a><a href="https://vivasales.pihr.xyz/SelfService/myextratime/Index" class="dropdown-item">
                    My Extra Works
                </a><a href="https://vivasales.pihr.xyz/SelfService/selfattendancereport/SelfAttendanceReport" class="dropdown-item">
                    Monthly Attendance
                </a><a href="https://vivasales.pihr.xyz/SelfService/myleaveapplication/Index" class="dropdown-item">
                    Leave Application
                </a><a href="https://vivasales.pihr.xyz/SelfService/appapproval/Index" class="dropdown-item">
                    Approve Application
                </a><a href="https://vivasales.pihr.xyz/SelfService/selfattendancereport/MyJobCard" class="dropdown-item">
                    My Job Card
                </a><a href="https://vivasales.pihr.xyz/SelfService/myattendancereconciliation/Index" class="dropdown-item">
                    Attendance Reconciliation
                </a><a href="https://vivasales.pihr.xyz/SelfService/selfattendancereport/SubordinateMonthlyAttendance" class="dropdown-item">
                    Subordinate Monthly Attendance
                </a><a href="https://vivasales.pihr.xyz/SelfService/mytask/Index" class="dropdown-item">
                    Task
                </a><a href="https://vivasales.pihr.xyz/SelfService/myassignedasset/Index" class="dropdown-item">
                    Assigned Asset
                </a><a href="https://vivasales.pihr.xyz/SelfService/myattendance/MyMovements" class="dropdown-item">
                    My Movements
                </a></div></li></ul></li><li class="nav-item dropdown menu-large"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="dropdown-toggle nav-link"><span class="icon fa fa-cogs"></span>
        Settings
    </a> <ul class="dropdown-menu megamenu"><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Security
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/usercategory/Index" class="dropdown-item">
                    User Category
                </a><a href="https://vivasales.pihr.xyz/user/Index" class="dropdown-item">
                    User
                </a><a href="https://vivasales.pihr.xyz/devicechangerequest/Index" class="dropdown-item">
                    Device Change Request
                </a><a href="https://vivasales.pihr.xyz/whitelistedip/Index" class="dropdown-item">
                    IP Whitelist
                </a></div></li><li class="nav-item dropdown"><a href="https://vivasales.pihr.xyz/dashboard#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                Setting
            </a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/state/Index" class="dropdown-item">
                    State
                </a><a href="https://vivasales.pihr.xyz/reporttemplate/Index" class="dropdown-item">
                    Report Template
                </a><a href="https://vivasales.pihr.xyz/city/Index" class="dropdown-item">
                    City
                </a><a href="https://vivasales.pihr.xyz/branch/Index" class="dropdown-item">
                    Branch
                </a></div></li><li class="nav-item"><a href="https://vivasales.pihr.xyz/notification" data-toggle="" class="nav-link">
                Notifications
            </a> <!----></li><li class="nav-item"><a href="https://vivasales.pihr.xyz/securityreport/loginhistory" data-toggle="" class="nav-link">
                User Login History
            </a> <!----></li><li class="nav-item"><a href="https://vivasales.pihr.xyz/noticeboard" data-toggle="" class="nav-link">
                Notice Board
            </a> <!----></li><li class="nav-item"><a href="https://vivasales.pihr.xyz/customer" data-toggle="" class="nav-link">
                Customer
            </a> <!----></li></ul></li></ul> <ul class="navbar-nav ml-auto align-items-center"><li class="nav-item dropdown"><a href="javascript:;" data-toggle="dropdown" class="nav-link dropdown-toggle"><span class="username"> admin@deeplaid [<span>Admin</span>]</span> <span class="icon icon-user mr-1"></span></a> <div class="dropdown-menu"><a href="https://vivasales.pihr.xyz/Login/ChangePassword" class="dropdown-item"><i class="icon fa fa-lock"></i>Change Password
    </a> <a href="https://vivasales.pihr.xyz/Login/Logout" class="dropdown-item"><i class="icon fa fa-key"></i>Log Out
    </a></div></li> <li id="header_notification_bar" class="nav-item dropdown"><a href="javascript:;" data-toggle="dropdown" data-close-others="false" title="Notification" class="dropdown-toggle nav-link"><span class="icon icon-bell"><span id="notificationNumber" class="d-none notify-badge bg-warning">0</span></span></a> <div id="notifications-dropdown" class="dropdown-menu dropdown-menu-right scrollable-table"><h6 class="dropdown-header">Notifications</h6><div class="dropdown-divider"></div> <a href="javascript:;" class="dropdown-item">No notifications available.</a></div></li></ul></div>

</nav>
</div>
</header>
  